/* Custom Styles */
html {
    height: 100%;
}
body {
    background-image: url("/assets/images/funky-lines.png");
    background-size: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
}
/* Typography */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4aaaa5
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #4aaaa5
}
p,
label,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #777;
    padding: 0 10px 0 5px;
}
small {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
}
.submit-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
/* Clearfix */
.text-wrapped-image:before,
.text-wrapped-image:after {
	content: "";
	display: table;
}
.text-wrapped-image:after {
	clear: both;
}
.text-wrapped-image {
	clear: both;
}
/* Grid */
.container {
    width: 960px;
    position: relative;
    display: block;
    margin-left: auto;
    top: 90px;
    margin-bottom: 15px;
}
.primary-box {
    width: 620px;
    height: 340px;
    display: inline-block;
    background: #fff;
    padding: 15px 5px;
    margin: 20px 15px 30px;
    border: solid;
    border-color: #ccc;
    border-width: 1px;
}
.primary-box-tall {
    width: 620px;
    height: 980px;
    display: inline-block;
    background: #fff;
    padding: 15px 5px;
    margin: 20px 15px 30px;
    border: solid;
    border-color: #ccc;
    border-width: 1px;
    z-index: 1;
}
aside {
    width: 250px;
    height: auto;
    display: inline-block;
    background: #fff;
    padding: 15px;
    margin: 2px 10px 2px;
    position: absolute;
    top: 16px;
    border: solid;
    border-color: #ccc;
    border-width: 1px;
    text-align: center;
}
small {
    display: block;
    padding:35px;
    text-align: center;
}
